
@{
    ViewBag.Title = "Index";
}
<p class="display-5">Di quale funzionalità vuoi usufruire?</p>

@Html.ActionLink("Aggiungi articolo", "AggiungiArticolo", "Admin", new { area = "" }, new { @class = "btn" })
@Html.ActionLink("Evadi Ordini", "OrdiniConclusi", "Admin", new { area = "" }, new { @class = "btn" })

<p class="display-6">Ottieni il numero totale di ordini evasi: </p>
<button class="btn" id="btnOrdiniEvasi" type="button">Ottieni numero ordini evasi</button>
<div id="risultatoOrdiniEvasi"></div>

<p class="display-6">Ottieni il totale incassato in una giornata:</p>
<div id="risultatoIncassi"></div>
<input type="date" name="dataDaCercare" />
<button class="btn" id="btnIncassi">Ottieni totale incassato in data</button>

@section scripts {
    <script>
        var divRisultato = document.getElementById("risultatoOrdiniEvasi")
        document.getElementById("btnOrdiniEvasi").addEventListener("click", function () {
            fetch("/Admin/GetOrdiniEvasi")
                .then(response => response.json())
                .then(data => {
                    divRisultato.innerText = data.count + " ordini evasi in totale"
                })
                .catch(error => {
                    console.error("Si è verificato un errore durante il recupero dei dati:", error);
                    alert("Si è verificato un errore durante il recupero dei dati. Controlla la console per ulteriori informazioni.");
                });
        });



        var divIncassi = document.getElementById("risultatoIncassi")
        document.getElementById("btnIncassi").addEventListener("click", function () {
            var dataDaCercare = document.getElementsByName("dataDaCercare")[0].value;
            fetch("/Admin/GetIncassiTotaliPerData?dataDaCercare=" + dataDaCercare)
                .then(response => response.json())
                .then(data => {
                    divIncassi.innerText = data.sommaTotali + `${'\u20AC'} totale incassi`
                })
                .catch(error => {
                    console.error("Si è verificato un errore durante il recupero dei dati:", error);
                    alert("Si è verificato un errore durante il recupero dei dati. Controlla la console per ulteriori informazioni.");
                });
        });
    </script>

}


