<main>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }
    @if (User.IsInRole("Admin"))
       {
         <h1>Benvenuto Admin</h1>
       }
    @if (User.IsInRole("User"))
       {
         <h1>Benvenuto Utente</h1>
       }

    <h1 class="display-1">In Forno Pizzeria</h1>
    <h2 class="display-6">Pizza e birra a portar via</h2>
    <div class="hero text-white d-flex justify-content-center align-items-center">
        <div class="bg-black p-3 text-center">
            <h3>Sei già registrato?</h3>
            @Html.ActionLink("Registrati", "Registrati", "Login", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Accedi", "Index", "Login", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</main>

<style>
    .hero {
        height: 60vh;
        background-image: url("https://cdn.pixabay.com/photo/2016/04/09/09/22/pizza-1317699_960_720.jpg");
        background-size: cover;
    }
</style>