/*VARIABILI*/
:root {
    --colore-primario: #e74c3c;
    --colore-secondario: #f39c12;
}

/*NAVBAR*/

.navbar {
    background-color: var(--colore-secondario);
}

.nav-link {
    color: var(--colore-primario);
    font-weight: bold;
}

.nav-link:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

svg text {
    stroke-width: 1;
    font-size: 1.2em;
    letter-spacing: 2px;
}

svg text.text-body{
    stroke : white;
    animation: 3s infinite alternate logoAnimated
}

@keyframes logoAnimated{
    0%{
        fill: transparent;
        stroke: white;
        stroke-width: 1;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50%{
        fill: transparent;
        stroke: white;
        stroke-width: 1;
    }
    100%{
        fill: white;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}

/*HOME PAGE*/
.login-btn-container {
    background-color: #0000008a
}

/*GENERALE*/
body {
    background-color: #ff8c0099;
}

.btn {
    font-weight: bold;
    background-color: brown;
}

label  {
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0.2rem 0.2rem 0 black;
    transform: translate(-0.2rem, -0.2rem);
    transition: 0.3s;
    background-color: brown;
    color: white;
}

.loader-container {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: black;
    display: grid;
    place-content: center;
}

.loader-container.hidden {
     opacity: 0;
     visibility: hidden;
}

.loader {
    width: 4rem;
    height: 4rem;
    border: .4rem solid #f27541;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: .8s ease infinite alternate spinner;
}

input {
    background-color: var(--colore-secondario);
    border-color: white;
    box-shadow: inset 0px 0px 2px var(--colore-primario);
}

    input:focus {
        transition: 0.4s;
        background-color: var(--colore-primario);
        box-shadow: 0px 0px 6px var(--colore-primario);
        outline: 0;
    }

@keyframes spinner {
    0% {
        transform: rotate(0deg) scale(1)
    }

    100% {
        transform: rotate(1turn) scale(1.2)
    }
}
/*PAGINA ACQUISTA UTENTE*/
.hero {
    height: 60vh;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/09/09/22/pizza-1317699_960_720.jpg");
    background-size: cover;
}

.card {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.card:hover {
   box-shadow: -1px 2px 9px 1px black;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-img-top:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;   
}


